body{
  width: 100%;
  position: relative;
}
header {
  width: 100%;
}
.containerde{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.de {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    
  }

  .superdice{
    width: 150px;
    height: 150px;
    background-color: white;
    border: 1px solid grey;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
  }



  li {
    color : white;
    font-size: 8px;
  }

  p{
    background-color: red;
    color: chartreuse;
  }

  .theorie{
    color: grey;
  }

  h4{
    font-size: 555px;
    color: chartreuse;
  }

  .theme-theory{
background-color:aquamarine;
  }

  .static{
    display: none;
  }

  .active{
    display: block;;
  }

  .ordre-question{

    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    color: red;
    z-index: 15114654;
  }

  .theorie{
    background-color: blueviolet;
    width: 100%;
    height: 100%
  }

  .domestique{
    background-color: chocolate;
    width: 100%;
    height: 100%
  }
