body{
  width: 100%;
  position: relative;
}
header {
  width: 100%;
  
}
.containerde{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#app{
  width: 100%;
}

.de {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
  }

  .superdice{
    width: 150px;
    height: 150px;
    background-color: white;
    border: 1px solid grey;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .dddd{
    background-color: black;
    color: white;
    width: 150px;
    height: 150px;
  }

  li {
    color : black;
    font-size: 15px;
  }

  p{
    background-color: red;
    color: chartreuse;
  }

  .theorie{
    color: grey;
  }

  h4{
    font-size: 555px;
    color: chartreuse;
  }

  .theme-theory{
background-color:aquamarine;
  }

  .static{
    display: none;
  }

  .active{
    display: block;;
  }

  .ordre-question{

    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    color: red;
    z-index: 15114654;
  }

  /* Dans le plateau  */ 

  .theorie{
    background-color: blueviolet;
    width: 100%;
    height: 100%
  }

  .domestique{
    background-color: chocolate;
    width: 100%;
    height: 100%
  }

  .economique{
    background-color: green;
    width: 100%;
    height: 100%
  }

  .pulique-politique{
    background-color: yellow;
    width: 100%;
    height: 100%;
  }

  .ul{
    background-color: brown;
  }

  .cadre{
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    color: black;
  }

  .blokito{
    display: flex;
  }

  .bloc1{
    width: 50%;
  }

  .bloc2{
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .pd{
    width:50px;
    height: 50px;
  }

  .Megacontainer{
    width: 50%;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto;
  }